body {
	background: #222;
	color:#eee;
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 18px;

	> .wrap {
		width: 860px;
		margin: 0 auto;
		padding: 20px;
		
		>.footer {
			font-size: .8em;
			color: #999;

			a {
				color: #999;
			}
		}
	}
}

h1 {
	font-weight: normal;
	font-size: 1.5em;
	color: #999;
}

article {
	line-height: 1.3em;
	font-size: 1em;
	letter-spacing:.07em
}

input {
	background: #333;
	border: none;
	font-size: 1.2em;
	color: #fff;
	width: 100%;
	padding: 5px ;

	
}

input:focus {
		outline: none
	}
